.bodyText {
    color : black;
    font-family: 'SourGummy';
    text-align: center;
}

.forgroundImg{
    width: 80%;
    height: auto;
    max-width: 500px;

    display: block;
    margin-right: auto;
    margin-left: auto;
}

.subForgroundImg{
    height: 20%;
    max-width: 500px;

    display: block;
    margin-right: auto;
    margin-left: auto;
}

body{
    background-image: url('BG.png');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;

    overflow: hidden;
}

/* fonts */
@font-face {
    font-family: 'SourGummy';
    src: url('SourGummy.ttf');
}

@font-face {
    font-family: 'Chewy';
    src: url('Chewy-Regular.ttf');
}